body {
  /* color: #ffffff; */
  /* background-image: url(../images/binding_light.png); */
  background-image: url(../images/richmondBackground.jpg);
  background-size: 1656px 800px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: rgb(114, 70, 158);
}
#nav-container {
  background-color: #343a40 !important;
}
.name-card {
  color: #ffffff;
  background-color: rgb(114, 70, 158);
}
#profile-card {
  width: 300px;
  /* background: rgb(198, 164, 231, 0.91); */
  background: rgba(255, 255, 255, 0.91);
  /* background: rgba(148, 150, 184, 0.91); */
  padding: 1px auto 1px auto;
}
#skills-list {
  list-style-type: disc;
  list-style-position: inside;
}
a:link {
  text-decoration: none;
  color: initial;
}
#body-content {
  padding: 0;
}
.pageContent {
  /* background: rgb(198, 164, 231, 0.91); */
  background: rgba(255, 255, 255, 0.91);
  /* background: rgba(148, 150, 184, 0.91); */
  width: 75%;
}
/* #selfie {
  height: 230px;
  width: 266px;
  float: left;
  margin: 1px auto 1px auto;
} */
.portfolioItem {
  width: 50%;
  height: auto;
  float: left;
  margin-bottom: 10px;
}
.portfolioImage {
  width: 250px;
  height: 200px;
}

/* #slideImage {
    height: 400px;
} */
/* .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
} 
.fa:hover {
      opacity: 0.7;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
} */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  /* background-color: #fefefe; */
  background: rgba(148, 150, 184, 0.91);
  margin: auto;
  padding: 20px;
  width: 33%;
}

.modal-card {
  color: #ffffff;
  background-color: rgb(114, 70, 158);
}
#email-link {
  color: #ffffff;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  body:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background: url(../images/richmondBackground.jpg);
    -webkit-background-size: 1656px 800px;
    -moz-background-size: 1656px 800px;
    -o-background-size: 1656px 800px;
    background-size: 1656px 800px;
  }

  body {
    background-position: center top;
    background-attachment: initial;
  }
  /* .container {
        background-image: url(../images/richmondBackground.jpg);
        background-size: 1656px 800px;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center top;
    } */
  .pageContent {
    margin-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .centerContent {
    margin: 0px auto 0px auto;
    text-align: center;
  }
  .portfolioItem {
    width: 100%;
    height: auto;
    float: left;
    margin-bottom: 10px;
  }
}
