body {
    /* color: #ffffff; */
    background-image: url(../images/richmondBackground.jpg);
    background-size: 1656px 800px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

}
.pageContent {
    background: rgba(187, 145, 229, 0.75); 
    margin-top: 100px;
}
#selfie {
    height: 150px;
    width: 150px;
    float: left;
    margin-right: 5px;
}
#slideImage {
    height: 400px;
}


@media only screen and (max-width: 600px) {
    body:before {
        content: "";
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -10;
        background: url(../images/richmondBackground.jpg);
        -webkit-background-size: 1656px 800px;
        -moz-background-size: 1656px 800px;
        -o-background-size: 1656px 800px;
        background-size: 1656px 800px;
      }
    
    /* body {
        background-position: center top;
        background-attachment: initial;
    } */
    /* .container {
        background-image: url(../images/richmondBackground.jpg);
        background-size: 1656px 800px;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center top;
    } */
    .pageContent {
        margin-top: 0px;
        padding-left: 5px;
        padding-right: 5px;
    }
}